# Database configuration (SQLite)
DATABASE_URL=sqlite:///./typeform_builder.db

# API Settings
API_V1_STR=/api/v1
PROJECT_NAME="Typeform Builder API"

# CORS configuration
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]
